@import "../../../variables.scss";

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 26px;

  line-height: 1.1;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;

    &:checked + .radio__control {
      border-color: $primary-color;
      background: radial-gradient($primary-color 50%, rgba(255, 0, 0, 0) 51%);
    }
  }

  &__input {
    display: flex;
  }

  &__control {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(218, 218, 218, 1);
  }
}
