:host {
  display: block;
}

.properties {
  display: grid;
  grid-template-columns: repeat(2, 453px);
  row-gap: 40px;

  line-height: 32px;

  &__property {
    display: flex;

    & > div {
      flex: 1;
    }

    &:last-child:nth-child(odd) {
      grid-column-start: 1;
      grid-column-end: 3;
      display: block;

      .properties__key {
        margin-bottom: 22px;
      }
    }
  }

  &__value {
    color: rgba(41, 98, 255, 1);
  }
}
