:host {
  display: block;
}

.properties {
  display: grid;
  grid-template-columns: repeat(2, 452px);
  // grid-template-columns: 206px 246px;
  row-gap: 32px;
  line-height: 32px;

  // column-gap: 104px;

  &__property {
    display: flex;

    & > .properties__key {
      flex: 1;
    }

    & > .properties__value {
      flex: 2.5;
    }

    // display: grid;
    // grid-template-columns: repeat(2, max-content);
    // column-gap: 104px;

    &:last-child:nth-child(odd) {
      grid-column-start: 1;
      grid-column-end: 3;
      display: block;

      .properties__key {
        margin-bottom: 13px;
      }
    }
  }

  &__value {
    color: rgba(41, 98, 255, 1);
  }
}
