<div class="countries">
  <div class="countries__list">
    <h1 class="countries__title">Countries list</h1>

    <div class="countries__items">
      <div
        class="countries__item"
        *ngFor="let country of filteredCountries | paginate: paginationParams"
      >
        <h3 class="countries__country-name">
          {{ country.name }}

          <a class="countries__go-to-details" [routerLink]="country.code">
            <img [src]="icon" />
          </a>
        </h3>

        <app-properties
          class="countries__country-properties"
          [properties]="countryToMap(country)"
        ></app-properties>
      </div>
    </div>

    <app-pagination-controls
      class="countries__pagination-controls"
      (changePage)="onPageChanged($event)"
    ></app-pagination-controls>
  </div>

  <div class="countries__filters">
    <h2 class="countries__filters-title">Фильтры</h2>

    <app-input
      class="countries__text-input"
      placeholder="Name"
      [value]="searchPattern"
      (changeValueEvent)="onInputValueChanged($event)"
    ></app-input>

    <app-dropdown
      class="countries__dropdown"
      name="Continents"
      [checkboxes]="dropdown"
      (checkboxUpdateEvent)="onCheckboxUpdated($event)"
    ></app-dropdown>

    <div class="countries__radio-list">
      <h4 class="countries__radio-title">Currencies</h4>

      <div class="countries__radio-items">
        <app-radio
          *ngFor="let currency of currencies"
          name="currency"
          [value]="currency"
          [checked]="checkedCurrency === currency"
          (selectEvent)="onRadioSelected($event)"
        >
          {{ currency }}
        </app-radio>
      </div>
    </div>
  </div>
</div>
