<div class="countries">
  <div class="countries__list">
    <h1 class="countries__title">Countries list</h1>

    <div
      class="countries__country"
      *ngFor="
        let item of filteredItems
          | paginate: { itemsPerPage: 5, currentPage: currentPage }
      "
    >
      <app-list-item [item]="item"></app-list-item>
    </div>

    <app-pagination-controls
      [currentPage]="currentPage"
      (changePage)="onPageChanged($event)"
    ></app-pagination-controls>
  </div>

  <div class="countries__filters">
    <h2 class="countries__filters-title">Фильтры</h2>

    <app-input
      class="countries__text-input"
      placeholder="Name"
      (changeValueEvent)="onInputValueChanged($event)"
    ></app-input>

    <app-dropdown
      class="countries__dropdown"
      name="Continents"
      [checkboxes]="dropdown"
      (checkboxUpdateEvent)="onCheckboxUpdated($event)"
    ></app-dropdown>

    <h4 class="countries__filters-subtitle">Currencies</h4>
    <div class="countries__radio-group">
      <app-radio
        *ngFor="let currency of currencies"
        name="currency"
        [value]="currency"
        (selectEvent)="onRadioSelected($event)"
      >
        {{ currency }}
      </app-radio>
    </div>
  </div>
</div>
