<div class="countries">
  <div class="countries__list">
    <h1 class="countries__title">Countries list</h1>

    <div class="countries__country" *ngFor="let item of filteredItems">
      <app-list-item [item]="item"></app-list-item>
    </div>
  </div>

  <div class="filters">
    <app-input
      placeholder="Name"
      (changeValueEvent)="onInputValueChanged($event)"
    ></app-input>

    <app-dropdown
      name="Continents"
      [checkboxes]="dropdown"
      (checkboxUpdateEvent)="onCheckboxUpdated($event)"
    ></app-dropdown>

    <div class="radio-filter">
      <h4>Currencies</h4>

      <app-radio
        *ngFor="let currency of currencies"
        name="currency"
        [value]="currency"
        (selectEvent)="onRadioSelected($event)"
      >
        {{ currency }}
      </app-radio>
    </div>
  </div>
</div>
