$top-padding: 52px;

.countries {
  display: grid;
  grid-template-columns: auto 393px;

  &__list {
    padding: $top-padding 64px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__filters {
    padding: $top-padding 32px;
    border-left: 1px solid rgba(165, 165, 165, 1);
    background: #fff;
  }

  &__text-input {
    margin-bottom: 41px;
  }

  &__filters-title {
    margin-bottom: 30px;
  }

  &__radio-title {
    margin: 24px 0;
  }

  &__radio-items {
    display: grid;
    row-gap: 16px;
  }
}
