:host {
  display: block;
}

.dropdown {
  &__checkbox-list {
    display: none;
    padding: 16px;

    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23);

    &_shown {
      display: grid;
      row-gap: 16px;
    }
  }
}
