<div class="dropdown">
  <app-input
    class="dropdown__input"
    [placeholder]="name"
    [value]="'Выбраны ' + checked"
    [readonly]="true"
    (clickEvent)="toggleDropdown()"
  ></app-input>

  <div
    class="dropdown__checkbox-list"
    [class.dropdown__checkbox-list_shown]="isDropdownShown"
  >
    <app-checkbox
      *ngFor="let checkbox of checkboxes"
      [text]="checkbox.text"
      [value]="checkbox.value"
      [checked]="checkbox.checked"
      (checkEvent)="handleCheckboxClick($event)"
    ></app-checkbox>
  </div>
</div>
