:host {
  display: block;
}

.pagination {
  display: grid;
  grid-template-columns: max-content 63px max-content;
  justify-items: center;

  user-select: none;

  &__prev,
  &__next {
    cursor: pointer;
  }
}
